.Slide .Bar {
  transition: width 0.2s ease;
}

.Slide:hover .Bar, .Slide.Active .Bar {
  width: 4.5rem;
  background-color: #F4F9E9;
}

.Slide:hover .Text, .Slide.Active .Text {
  color: #F4F9E9;
}

.Slide .Text {
  transition: transform 0.2s ease;
}

